<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta http-equiv="refresh" content="60" charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>SMRH - Sistema de Monitoramento de Recursos Hídricos</title>
</head>

<body>

  <header class="header">
    <p><img src="/static/images/source/smrh.png" style="height:100px"></p>
  </header>
  <br><br>
  <embed type="image/svg+xml" src={{graph_data|safe}} style="max-width:1000px">
</body>
</html>
