<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta http-equiv="refresh" content="60" charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="static/js/svg.jquery.js"></script>
  <script type="text/javascript" src="static/js/pygal-tooltips.js"></script>
  <title>SMRH - Sistema de Monitoramento de Recursos Hídricos</title>
</head>
<body>

  {% set navigation_bar = [
    ('/', 'início', 'Início'),
    ('/2graph', 'gráfico 2', 'Gráfico de Consumo Total'),
    ('/3graph', 'gráfico 3', 'Gráfico de Consumo no Período'),
    ('/graph', 'gráfico', 'Gráfico de Medições'),
] -%}

{% set active_page = active_page|default('início') -%}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <img src="/static/images/source/smrh.png" style="height:30px; margin-top:-5px">
      </a>
    </div>
<ul id="navigation" class="nav navbar-nav">
    {% for href, id, caption in navigation_bar %}
    <li{% if id == active_page %} class="active"{% endif
    %}><a href="{{ href|e }}">{{ caption|e }}</a>
    </li>
{% endfor %}
</ul>
<ul class="nav navbar-nav ml-auto">
  <li>
    <div style="width: 300px; margin: 50px auto">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 60%">
          <span class="title">10%</span>
        </div>
      </div>
    </div>

    <style>
    .progress-bar {
  width: 0;
  animation: progress 60s ease-in-out forwards;

  .title {
    opacity: 0;
    animation: show 0.1s forwards ease-in-out 0.5s;
  }
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
    </style>

    <span class="navbar-text">
      <p> Próxima leitura em <span id="countdowntimer">60 </span> segundos...</p>
    </span>
  </li>
</ul>
</div>
</nav>

<div class="container-fluid" style="margin: 20px">

{% block content %}{% endblock %}

<br>
<br>

<script type="text/javascript">
    var timeleft = 60;
    var downloadTimer = setInterval(function(){
    timeleft--;
    document.getElementById("countdowntimer").textContent = timeleft;
    if(timeleft <= 0)
        clearInterval(downloadTimer);
    },1000);
</script>

</div>

</body>
</html>
