<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta http-equiv="refresh" content="60" charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  <title>SMRH - Sistema de Monitoramento de Recursos Hídricos</title>
</head>
<body>

  {% set navigation_bar = [
    ('/', 'início', 'Início'),
    ('/2graph', 'gráfico 2', 'Gráfico de Consumo Total'),
    ('/3graph', 'gráfico 3', 'Gráfico de Consumo no Período'),
    ('/graph', 'gráfico', 'Gráfico de Leituras'),
] -%}

{% set active_page = active_page|default('início') -%}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <img src="/static/images/source/smrh.png" style="height:30px; margin-top:-5px">
      </a>
    </div>
<ul id="navigation" class="nav navbar-nav">
    {% for href, id, caption in navigation_bar %}
    <li{% if id == active_page %} class="active"{% endif
    %}><a href="{{ href|e }}">{{ caption|e }}</a>
    </li>
{% endfor %}
</ul>
<ul class="nav navbar-nav ml-auto">
  <li>
    <span class="navbar-text">
      <p> Próxima leitura em <span id="countdowntimer">60 </span> segundos...</p>
    </span>
  </li>
</ul>
</div>
</nav>

<div style="margin: 15px">

{% block content %}{% endblock %}

<br>
<br>

<script type="text/javascript">
    var timeleft = 60;
    var downloadTimer = setInterval(function(){
    timeleft--;
    document.getElementById("countdowntimer").textContent = timeleft;
    if(timeleft <= 0)
        clearInterval(downloadTimer);
    },1000);
</script>

</div>

</body>
</html>
