<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta http-equiv="refresh" content="60" charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>SMRH - Sistema de Monitoramento de Recursos Hídricos</title>
</head>

<body>

  <header>
    <a href = "{{ url_for('index') }}">
      <img src="/static/images/source/smrh.png" style="height:50px">
    </a>
    <a href="{{ url_for('index') }}">Início</a>
    <a href="{{ url_for('graph') }}">Gráfico</a>
  </header>

  <hr>

  {% block content %}{% endblock %}

  <p> Próxima leitura em <span id="countdowntimer">10 </span> segundos</p>

  <script type="text/javascript">
      var timeleft = 60;
      var downloadTimer = setInterval(function(){
      timeleft--;
      document.getElementById("countdowntimer").textContent = timeleft;
      if(timeleft <= 0)
          clearInterval(downloadTimer);
      },1000);
  </script>

</body>
</html>
