{% extends "base.html" %}
{% set active_page = "início" %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <p>Horário Inicial: {{FIRST_TIME}}</p>
    <p>Último Horário: {{LAST_TIME}}</p>
    <br>
    <p>Leitura Inicial (litros): {{FIRST_READING}}</p>
    <p>Última Leitura (litros): {{LAST_READING}}</p>
    <p> Gasto total (litros): {{DIF_READING}}</p>
    <br>
    <p>Último algarismo lido: {{LAST_DIGIT}}</p>
  </div>
  <div class="col-sm-6">
    <p>
      <img src="/static/images/last_picture.png" class="img-fluid" style="max-height:300px">
    </p>
</div>
</div>
{% endblock %}
