{% extends "base.html" %}
{% set active_page = "início" %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <p>Horário Inicial: {{FIRST_TIME}}</p>
    <p>Último Horário: {{LAST_TIME}}</p>
    <br>
    <p>Leitura Inicial (litros): {{FIRST_READING}}</p>
    <p>Última Leitura (litros): {{LAST_READING}}</p>
    <p> Gasto total (litros): {{DIF_READING}}</p>
    <br>
    <p>Último algarismo lido: {{LAST_DIGIT}}</p>
  </div>
  <div class="col-sm-6">
    <p>
      <img class="img-rounded img-responsive" src="/static/images/last_picture.png?91298239">
    </p>
</div>
</div>

<br>
<br>
<a class="btn btn-danger" href="/delete">Apagar Última Leitura</a>

{% endblock %}
