{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-left"><img src="/static/images/source/smrh.png" style="height:50px"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Início</a></li>
      <li><a href="/graph">Gráfico</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<p>Horário Inicial: {{FIRST_TIME}} | Último Horário: {{LAST_TIME}}</p>
<p>Leitura Inicial (litros): {{FIRST_READING}} | Última Leitura (litros): {{LAST_READING}}</p>
<p> Gasto total (litros): {{DIF_READING}}
<p>
  <img src="/static/images/last_picture.png" style="max-height:300px">
</p>
<p>Último algarismo lido: {{LAST_DIGIT}}</p>
{% endblock %}
